html, body { 
    overflow-y: auto; 
    overflow-x: hidden;
    max-height: 100%;
    width: 100%;
}

.dropdown-btn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 13px;
    border: none;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 260px;
    box-shadow: 0px 8px 16px 0px rgba (0, 0, 0, 0.2);
    z-index: 1;
    font-size: 14px;
}

.dropdown-content a {
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
}

.DC-1 i {
    padding-left: 130px;
}

.DC-2 i {
    padding-left: 160px;
}

.DC-3 i {
    padding-left: 75px;
}

.DC-4 i {
    padding-left: 125px;
}

.DC-5 i {
    padding-left: 95px;
}

.DC-6 i {
    padding-left: 70px;
}

.DC-7 i {
    padding-left: 165px;
}

.DC-8 i {
    padding-left: 145px; 
}

.DC-9 i {
    padding-left: 157px;  
}

.DC-10 i {
    padding-left: 70px;
}

.DC-11 i {
    padding-left: 105px;
}

.DC-12 i {
    padding-left: 168px;
}

.DC-13 i {
    padding-left: 65px;
}

.dropdown-content a:hover {
color: blue;
}

.dropdown:hover .dropdown-content{
    display: block;
    background-color:whitesmoke;
}

.dropdown:hover .dropdown-btn {
    background-color: white;
    color: blue;
}

.section1 {
    display: flex;
    flex-direction: row;
}

.search i {
    font-family: FontAwesome;
    position: absolute;
    padding-left: 20px;
    padding-top: 14px;
}

.search-form-control {
    padding: 10px 50px;
    font-size: 13px;
    min-width: 700px;
    border-radius: 20px;
    border-width: 1px;
}

.navbar2 {
    margin-left: 25px;
}

.modal-body a{
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.btn-btn-primary {
    background-color: white;
    border-width: 1px;
    padding: 5px 10px;
    margin-left: 3px;
}

.head-btn1 {
    background-color: white;
    padding: 6px 12px;
    border-width: 1px;
    margin-left: 15px;
}

.head-btn1 a:hover {
    color: black;
}

.head-btn1 a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 14px;
}

.head-btn2 {
    background-color: black;
    padding: 6px 10px;
    border-width: 1px;
    margin-left: 4px;
}

.head-btn2 a:hover {
    color: white;
}

.head-btn2 a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 14px;
}

.nav-links1 {
    text-decoration: none;
    color: black;
    font-size: 13px;
    margin-left: 15px;
}

.nav-links1a {
    text-decoration: none;
    color: black;
    margin-left: 15px;
    font-size: 21px;
}

.navbar {
    border: 1px;
    border-color: white;
    border-style: solid;
}

.main-image img{
    padding-left:85px;
    padding-right: 70px;
    box-sizing: border-box;
    width: 100%;
}

.TB-title {
    font-weight: 650;
padding-top: 20px;
}

.TB-body {
    font-size: 17px;
    font-weight: 500;
    padding-left: 0px;
    padding-right: 35px;
}

.section2-contents {
    position: relative;
}

.text-block {
    position: absolute;
    top: 65px;
    left: 140px;
    background-color: white;
    padding-left: 20px;
    padding-right: 30px;
    height: 140px;
    width: 430px;
}

.java-text {
    margin-top: 40px;
    padding-left: 110px;
    margin-bottom: 0px;
}

.java-text p {
    font-weight: 500;
}

.JT-h1 {
    font-size: 30px;
    font-weight: 700;
}

.java-flex {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 800;
}

.java-flex a {
    text-decoration: none;
}

.J-flex1 {
padding-left: 113px;
color: black;
}

.J-flex2 {
    padding-left: 18px;
    color: grey;
}

.java-flex a:hover{
    color: black;
}

.card {
    margin-left: 110px;
    margin-right: 90px;
    padding: 20px 15px;
}

.card-body {
    padding: 100px 150px;
    height: 400px;
}

.card-title {
    font-weight: 780;
}

.card-text {
    font-size: 14px;
    padding-right: 430px;
    font-weight: 500;
}

.java-icons i {
    font-family: FontAwesome;
    position: absolute;
}

.java-icons {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border-width: 2px;
    margin-top: 50px;
    margin-bottom: 60px;
    background-color: rgba(128, 128, 128, 0.088);
    padding-top: 20px;
    padding-bottom: 5px;
}

.J-icons1 p{
    padding-left: 160px;
    font-weight: 700;
    font-size: 14px;
}

.J-icons1 i {
    padding-left: 110px;
    font-size: 35px;
}

.J-icons2 p{
    padding-left: 210px;
    font-weight: 700;
    font-size: 14px;
}

.J-icons2 i {
    padding-left: 160px;
    font-size: 30px;
}

.J-icons3 p{
    padding-left: 210px;
    font-weight: 700;
    font-size: 14px;
}

.J-icons3 i {
    padding-left: 160px;
    font-size: 30px;
}

.students {
    padding-left: 110px;
}

.students h4 {
    font-weight: 700;
}

.Top-categories {
    padding-left: 110px;
}

.Top-categories h5 {
    font-weight: 700;
}

.TC-Images1 {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    column-gap: 25px;
}

.TC-Images2 {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    column-gap: 25px;
}

.TC-Images1-link {
    display: flex;
    flex-direction: column;
}

.TC-Images2-link {
    display: flex;
    flex-direction: column;
}

.TC-Images a {
    text-decoration: none;
    color: black;
    font-weight: 650;
    font-size: 15px;
}

.TC-Images a:hover {
    color: black;
}

.TCI-main img {
    width: 100%;
    transition: 0.1s all ease-in-out;
}

.TCI-main:hover img {
    transform: scale(1.05);
}

.featured {
    display: flex;
    flex-direction: row;
}

.section5 h4 {
    font-weight: 750;
    padding-left: 110px;
    padding-bottom: 20px;
}

.section5 {
    box-sizing: border-box;
    border-style: none;
    margin-top: 60px;
    padding-top: 60px;
    padding-bottom: 55px;
    background-color: rgba(128, 128, 128, 0.088);
}

.ul-lists4 {
    padding-left: 165px;
}

.ul-lists3 {
    padding-left: 170px;
}

.ul-lists2 {
    padding-left: 163px;
}

.ul-lists1 {
    padding-left: 78px;
}

.ul-lists li {
    font-weight: 750;
    font-size: 17px;
}

.ul-lists a {
    font-size: 15px;
    color: rgba(58, 29, 219, 0.942)
}

.ul-lists p {
    font-size: 13px;
    font-weight: 400;
    color: grey;
}

.Trusted-text {
    text-align: center;
}

.Trusted-text h4 {
    padding-top: 100px;
    font-weight: 650;
}

.Trusted-text p {
    font-weight: 500;
}

.T-img {
    padding-left: 120px;
}

.upskill-txt img {
    width: 175px;
}

.upskill-img img {
    height: 350px;
}

.upskill {
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

.upskill-txt h2{
    font-weight: 650;
}

.upskill-ul {
    font-size: 17px;
    font-weight: 500;
    padding: 0px;
    padding-left: 22px;
}

.upskill-img {
    margin-left: 20px;
    margin-top: 110px;
}

.upskill-txt {
    margin-top: 110px;
    margin-right: 110px;
}

.upskill-btn {
    display: flex;
    flex-direction: row;
}

.instructor {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.instructor-img img {
    height: 350px;
    margin-right: 100px;
    margin-top: 60px;
}

.instructor-txt {
    margin-top: 150px;
    margin-left: 10px;
}

.instructor-txt h2 {
font-weight: 650;
}

.instructor-txt p {
    font-size: 17px;
}

.links {
    display: flex;
    box-sizing: border-box;
    border-style:none;
}

.end {
    box-sizing: border-box;
    border-style: none;
    margin-top: 90px;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.893);
}

.links button  {
    padding-top: 10px;
    padding-bottom: 0px;
    display: flex;
    padding-right: 50px;
    padding-left: 20px;
    background-color: rgba(0, 0, 0, 0.395);
    border-style: solid;
    box-sizing: border-box;
    border-color: white;
    height: 45px;
    margin-left: 750px;
}

.end-globe i {
padding-right: 10px;
padding-top: 5px;
color: white;
}

.end-globe p {
    color: white;
}

.lists a {
    text-decoration: none;
    color: white;
    font-size: 13px;
}

.lists a:hover {
    text-decoration: underline;
    color: white;
}

.sign-out p {
    color: white;
    font-size: 11px;
    padding-right: 40px;
}

.sign-out img {
    height: 30px;
    padding-left: 30px;
}

.sign-out {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border-style: none;
    margin-top: 50px;
    margin-bottom: 0px;
}
